.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: 100vh;
}



.page-container {
  padding: 24px;
  background: #f5f7fb;
  flex: 1;
}