<div class="page-filters">
  <div class="periods">
    <button>Last 30 Days</button>
    <button class="active">Last 6 Months</button>
    <button>Year to Date</button>
  </div>

  <div class="actions">
    <button class="filter-btn">
      <span class="material-symbols-outlined btn-icon">filter_alt</span>
      <span>Filters</span>
    </button>

    <button class="export-btn">
      <span class="material-symbols-outlined btn-icon">download</span>
      <span>Export</span>
    </button>
  </div>
</div>